[Desktop Entry]
Version=1.0
Type=Link
Name=sziv2p/jekyll-theme-scaffold: A minimalist yet powerful Jekyll theme for bloggers
Comment=
Icon=user-bookmarks
URL=https://github.com/sziv2p/jekyll-theme-scaffold
